---
import {Image} from "astro:assets"
import HeaderIcon from "./HeaderIcon"

//const userEmail = Astro.cookies.get("userEmail")
---

<header
    class="dark:bg-black flex min-w-full justify-between items-center px-20 py-0 max-sm:px-10 max-sm:py-0 max-sm:block max-w-7xl justify-self-center w-full"
>
    <a href="/" class="flex gap-x-4 items-center dark:text-teal-100">
        <Image
            src="/lion_face.png"
            alt="LoToJ"
            width={64}
            height={64}
            format="webp"
            class="w-16"
        />

        <p class="text-1xl font-mono dark:text-yellow-500 text-red-900"> R-5-5</p>
    </a>
   
  <ul class="flex gap-x-8">
    <li><a href="/" class="text-teal-900 font-bold dark:text-teal-900"> <HeaderIcon option="home" descr="Home"/></a> </li>
    <li><a href="/" class="text-teal-00  font-bold dark:text-teal-900"> <HeaderIcon option="blog" descr="Blog"/></a>
    <li><a href="/" class="text-teal-900 font-bold dark:text-teal-900 "> <HeaderIcon option="research" descr="Research"/></a>
  </ul>      
</header>
