@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /*padding: 1rem;
  margin: 1rem;*/

  @apply bg-gray-300 dark:bg-gray-800 dark:text-white m-0 py-1 px-5;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div {
  @apply px-2 py-1 block;
}

.nav-container {
  @apply flex flex-col md:flex-row justify-between bg-gray-300 dark:bg-gray-800 p-0 rounded;
}

.nav-container-non-home {
  @apply flex flex-col ml-0 md:flex-row md:justify-between bg-gray-300 dark:bg-gray-800 p-0 rounded;
}

.nav-blue-always-visible {
  @apply flex text-center items-center justify-center bg-blue-500 rounded text-white mx-0 my-2 p-0 h-8 w-24;
}

.nav-blue-hidden-wide {
  @apply flex text-center items-center justify-center bg-blue-500 rounded text-white mx-0 my-2 p-0 h-8 w-24 md:hidden;
}

.nav-blue {
  @apply hidden text-center items-center justify-center bg-blue-500 rounded text-white mx-0 my-2 p-0  md:flex md:h-auto md:w-24;
}

.nav-blue-drop-down {
  @apply text-center bg-blue-500 rounded text-white mx-0 my-1 p-0 w-0 h-0 md:w-24;
}

.nav-teal {
  @apply flex justify-center text-center bg-teal-600 rounded text-white mr-0 ml-0 mt-1 mb-1 py-1 w-24;
}

.nav-fa-bar {
  @apply visible p-0 m-0 md:hidden md:pt-1 md:pb-1 justify-center fill-current text-gray-400;
}

.fa-animation {
  @apply flex flex-col md:flex-row;
}
.page-container {
  @apply flex relative justify-start mx-0 p-0 pt-6 md:justify-center h-screen md:m-10;
}

.page-footer {
  @apply flex justify-center text-xs p-1 bg-gray-200 dark:bg-gray-700 rounded;
}

.heading1 {
  @apply bg-blue-100;
}

/* Animation */
