@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /*padding: 1rem;
  margin: 1rem;*/
  @apply bg-indigo-50 m-0 p-1 dark:bg-gray-900;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div {
  @apply px-2 py-1;
}

.nav-container {
  @apply flex flex-col md:flex-row bg-gray-50;
}

.nav-blue {
  display: 'block';
  @apply flex-initial justify-center text-center bg-blue-500 rounded text-white m-2 py-1 w-24;
}

.page-container {
  @apply m-10;
}

.heading1 {
  @apply bg-blue-100;
}

/* Animation */
